.header{
	background-color:rgb(49,49,57);
	height: 32px;
	width: 100%;
	display: flex;
}
.left{
	width: 33%;
}
.wangyi{
	color:rgb(201,8,24);
	line-height: 32px;
	margin-left: 5px;
}
.wenzi{
	color:white;
}
.box{
	color: white;
	text-align: center;
	width: 33%;
	line-height: 32px;
	font-size: 15px;
}
.shousuo{
	color:white;
	width: 33%;
	line-height: 32px;
	text-align: right;
}
.images{
	margin:10px;
}

.content{	
	width: 100%;	
	margin-top:13px;
	margin-bottom:5px;
}
.content-images{
	display: flex;
	
}
.content-images div{
	margin-left:10px;
}
.content-images div:last-child{
	margin-right: 10px;
}

.content-wenzi{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}
.content-wenzi div{
	height: 40px;
	width: 21.5%;
	margin-left:2.8%;
	background-color: rgb(254,208,135);
	margin-top: 8px;
	text-align: center;
	line-height: 40px;
	color:rgb(177,109,1);
}
.dongtai{
	width: 100%;
	border-top:1px solid red;
}
.dongtai h1,.zhuangti h1,.gonggao h1,.xinwen h1,.shipin h1{
	height: 30px;
	width: 100%;
	line-height: 30px;
	padding-left:7px;
	color:red;
	background-color: rgb(245,245,245);
}
.dongtai div{
	height: 32px;
	width: 100%;
	line-height: 30px;
	padding-left: 7px;
	font-size: 12px;
	border-top:1px solid rgb(243,243,243);
}
.zhuangti{
	width: 100%;
	border-top:1px solid red;
}
.zhuangti-images{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.zhuangti-images div{
	
	margin-top:25px;
	width: 21.5%;
	margin-left:2.8%;
}
.zhuangti-images div p{
	text-align: center;
}
.zhuangti-wenzi{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;

}
.zhuangti-wenzi div{
	height: 40px;
	width: 21.5%;
	margin-left:2.8%;
	background-color: #333;
	margin-top: 10px;
	text-align: center;
	line-height: 40px;
	color:#fed087;
}
.gonggao{
	width: 100%;
	margin-top:10px;
	border-top:1px solid red;
}
.gonggao-wenzi{
	display: flex;
	width: 100%;
}
.gonggao-wenzi div{
	height: 30px;
	width: 21.5%;
	margin-left:2.8%;
	background-color: #BD2C00;
	color:#fed087;
	text-align: center;
	line-height: 30px;
	margin-top:10px;
	margin-bottom: 10px;
}
.gonggao-list{
	width: 100%;
}
.gonggao-list div{
	width: 100%;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	border-top:1px solid rgb(243,243,243);
	padding-left: 7px;
}
.gonggao-more,.xinwen-more,.shipin-more{
	text-align: center;
	color:orangered;
	background-color: pink;
}
.xinwen{
	width: 100%;
	margin-top:5px;
	border-top: 1px solid red;
}
.xinwen div{
	width: 100%;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	border-top:1px solid rgb(243,243,243);
	padding-left: 7px;
}
.shipin{
	width: 100%;
	margin-top:10px;
	border-top:1px solid red;	
}
.shipin-image{
	display: flex;
	flex-wrap:wrap;
	margin-left:25px;
}
.shipin-image div{
	margin-right: 20px;
	margin-top:15px;
	
}

.shipin-more{
	height: 30px;
	line-height: 30px;
	font-size:14px;
	margin-top: 10px;
}
.nav{
	background-color: #333;
	color:white;
	display: flex;
	height: 30px;
	margin-top:10px;	
	padding: .3rem 0;
	position: fixed;
	bottom: 0px;
	width: 100%;	
}
.nav div{
	font-size:20px;
	line-height: 30px;
	margin-right:10px;
}
.nav div:first-child{
	margin-left: 20%;
}
